.api-create{
    width: 100%;
    .api-create-top{
        height: 60px;
        line-height: 60px;
        background: white;
        padding: 10px
    }
    .ant-tabs-nav-wrap{
        background: white
    }
}