.api-top{
    display: flex;
    justify-content: space-between;
    .left-top{
        display: flex;
    }
    .ant-input-group{
        width: auto;
        margin-right: 40px
    }
}
.manage-modal-footer{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}