.api-project-meta{
    background: white;
    padding:10px;
    &>div{
        align-items: center;
    }
    label{
        min-width: 50px;
    }
    margin-bottom: 16px;
}
.api-project-intro{
    .project-intro-meta{
        padding-left: 40px;
        padding-bottom: 10px
    }
}