.manage-detail {
  height: 100%;
  .manage-main {
    height: 100%;
  }
}
.manage-header {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  a {
    color: black;
    opacity: 0.65;
  }
}
.project-survey {
  display: flex;
  .survey-left {
    height: 100%;
    padding: 20px;
    width: 60%;
    background: white;
    .survey-title {
      font-size: 24px;
      font-weight: bold;
      color: #1890ff;
      margin-bottom: 20px;
    }
    .surcey-item-con {
      display: flex;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      flex-wrap: wrap;
      padding-top: 20px;
      .survey-item {
        min-width: 220px;
        height: 80px;
        padding-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 2px;
        .item-top {
          font-size: 18px;
          color: black;
          margin: 10px 0;
        }
      }
    }
  }
  .survey-right {
    padding-left: 10px;
    .activity-title {
      color: #1890ff;
    }
  }
}
.api-document {
  display: flex;
  height: 100%;
  .api-group-con {
    min-width: 240px;
    background: white;
    .group-top {
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .group-body {
      &::-webkit-scrollbar {
        width: 0;
      }
      overflow: scroll;
      height: 100%;
    }
    .group-item {
      height: 40px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      &.all{
        height: 54px
      }
    }
  }
  .api-list-con {
    background: white;
    flex-grow: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    .list-top {
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
