.manage-header {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  a {
    color: black;
    opacity: 0.65;
  }
}
.project-survey {
  height: 500px;
  .survey-left {
    height: 100%;
    padding: 20px;
    width: 60%;
    background: white;
    .survey-title {
      font-size: 24px;
      font-weight: bold;
      color: #1890ff;
      margin-bottom: 20px;
    }
    .surcey-item-con {
      display: flex;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      flex-wrap: wrap;
      padding-top: 20px;
      .survey-item {
        min-width: 220px;
        height: 80px;
        padding-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 2px;
        .item-top {
          font-size: 18px;
          color: black;
          margin: 10px 0;
        }
      }
    }
  }
}
.api-document{
    height: 500px;
    display: flex;
    .api-group-con{
        min-width: 240px;
        background: white;
        .group-top{
          height: 50px;
          line-height: 50px;
          padding-left: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, .1)
        }
        .group-item{
          height: 40px;
          padding-left: 10px;
          line-height: 40px;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          &:hover{
            background: rgba(0, 0, 0, .1)
          }
        }
    }
}
